body {
  background-color: deepskyblue;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: blue;
  border-width: 5px;
  width: 5%;
}

#baconBreck {

  height: 150px;
  width: 175px;
  border-radius: 90px;
}
